/* General Styles */
body {
    font-family: 'Space Grotesk', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

* {
    box-sizing: border-box;
}

/* Dashboard Layout */
.dashboard-container {
    display: flex;
    flex-grow: 1;
    margin-top: 64px; /* Space for the fixed footer */
}

/* Sidebar Styles */
.sidebar {
    width: 250px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-right: 1px solid #ddd;
    height: 100vh;
    position: fixed;
    top: 64px; /* Space for fixed footer */
    left: 0;
    overflow-y: auto;
}

/* Main Content Styles */
.main-content {
    margin-left: 250px; /* Space for fixed sidebar */
    padding: 172px 20px;
    background-color: #f8f8f8;
}

.main-content h1 {
    font-size: 24px;
    margin: 0 0 32px;
    display: flex;
    align-items: center;
}

.main-content h1 i {
    margin-right: 10px;
    font-size: 28px;
    color: #d3fc1f;
}

/* Sidebar Section Styles */
.sidebar-section {
    margin-bottom: 40px;
}

.sidebar-section h2 {
    font-size: 16px;
    color: #000;
    margin-bottom: 10px;
    font-weight: bold;
}

.sidebar-section ul {
    list-style-type: none;
    padding: 0;
}

.sidebar-section ul li {
    margin-bottom: 10px;
}

.sidebar-section ul li a {
    text-decoration: none;
    color: #333;
    font-size: 14px;
    padding: 8px 12px;
    display: flex;
    transition: background-color 0.2s ease, color 0.2s ease, border-radius 0.2s ease;
}

.sidebar-section ul li a:hover {
    background-color: #D4FF32;
    color: #000;
    border-radius: 5px;
}

/* Footer Styles */
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 15px 30px;
    border-bottom: 1px solid #ddd;
    height: 64px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

/* Footer Logo Styles */
.footer-logo img {
    height: 56px;
    margin-right: 4px;
}

/* Profile and Buttons Container */
.footer-profile-and-buttons {
    display: flex;
    align-items: center;
    gap: 16px;
}

/* Footer Buttons */
.footer-buttons {
    display: flex;
    align-items: center;
    gap: 8px;
}

.footer-buttons a {
    text-decoration: none;
    color: #000;
    font-size: 14px;
    display: flex;
    align-items: center;
    padding: 5px 10px;
    transition: background-color 0.2s ease, color 0.2s ease, border-radius 0.2s ease;
    font-weight: 500;
}

.footer-buttons i {
    margin-right: 5px;
    font-size: 18px;
}

/* Hover Effects for Footer Buttons */
.footer-buttons a:first-child:hover {
    background-color: #d3fc1f;
    color: #fff;
    border-radius: 50%;
    transform: scale(1.1);
    padding: 10px;
    transition: transform 0.15s ease;
}

.footer-buttons a:not(:first-child):hover {
    background-color: #d3fc1f;
    color: #fff;
    border-radius: 5px;
}

/* Profile Section */
.footer-profile {
    display: flex;
    align-items: center;
    position: relative;
    border: 2px solid #ccc;
    padding: 8px;
    border-radius: 5px;
    background-color: #fff;
}

.profile-dropdown {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.footer-profile span {
    font-weight: 600;
}

.profile-circle {
    width: 30px;
    height: 30px;
    background-color: #d3fc1f;
    color: #000;
    font-weight: bold;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
    font-size: 14px;
}

/* Dropdown Menu Styles */
.dropdown-menu {
    position: absolute;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    width: 120px;
    display: none;
    top: 100%;
    right: 0;
    margin-top: 2px;
    border-radius: 5px;
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.dropdown-menu.show {
    opacity: 1;
    transform: translateY(0);
}

.dropdown-menu a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #000;
    border-radius: 5px;
}

.dropdown-menu a:hover {
    background-color: #D4FF32;
}

/* Styling for Day Select Dropdown */
#day-select {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    font-size: 14px;
    margin-right: 8px;
}

/* Form Styles */

/* Form Container */
.form-container {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: flex-start; /* Center vertically */
    flex-direction: column; /* Stack children vertically */
    height: calc(100vh - 64px); /* Adjust for footer height */
    padding: 20px; /* Add padding if needed */
    height: 100%;
}

.form-section {
    border: 1px solid #e3e3e3;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 16px;
    background-color: #fff;
}

.user-form {
    max-width: 1000px;
    margin: 64px auto 16px;
    padding: 20px;
    border-radius: 10px;
    margin-right: 256px;
    margin-top: -140px;
    width: 100%;
}

/* Fieldset Styles */
fieldset {
    border: 1px solid #e0e0e0;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    width: 100%;
}

legend {
    font-weight: bold;
    padding: 0 10px;
    color: #333;
}

/* Form Group Styles */
.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.form-group label {
    font-family: 'Space Grotesk', Arial, sans-serif; /* Set font to Space Grotesk */
    font-size: 16px;
    color: #555;
    margin-bottom: 0;
    display: block;
    width: 150px;
}

/* Input Styles */
.form-group input {
    width: calc(80% - 160px); /* Adjust the width to accommodate the label */
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 16px;
    background-color: #fff;
    font-family:'Space Grotesk', Arial, sans-serif;
    display: block;
}

input::placeholder {
    color: #bbb;
}

input:focus {
    outline: none;
    border-color: #d3fc1f;
}

/* Buttons section below the form */
.user-form-buttons {
    display: inline;
    justify-content: center; /* Align the buttons to the right */
    gap: 8px; /* Space between buttons */
    margin-top: 20px; /* Space between form and buttons */
    text-align: left;
}

/* Button Styles */
.btn-save {
    background-color: #D4FF32; /* Bright green background as seen in the image */
    color: #000; /* Black text */
    padding: 10px 20px; /* Adjust padding for a better size */
    border: 1px solid transparent;
    border-radius: 5px; /* More rounded corners */
    font-size: 16px; /* Increase font size for better readability */
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: 'Space Grotesk', Arial, sans-serif;
    margin-right: 10px;
}

.btn-cancel {
    background-color: #fff; /* Grey background */
    color: #333; /* Black text */
    padding: 10px 20px; /* Adjust padding for consistency */
    border: 1px solid transparent;
    border-radius: 5px; /* More rounded corners */
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: 'Space Grotesk', Arial, sans-serif;
}

.btn-save:hover {
    background-color: #f8f8f8;
    opacity: 0.9;
    border: 1px solid #555;
}

.btn-cancel:hover {
    background-color: #000;
    opacity: 0.9;
    color: #f8f8f8;
}

.form-group input[type="file"] {
    border: none; /* Remove the border */
    background-color: transparent; /* Make the background transparent */
    padding: 0; /* Remove any padding */
    font-family: inherit; /* Inherit the font family from the parent */
    font-size: inherit; /* Inherit the font size from the parent */
    color: inherit; /* Inherit text color from the parent */
    cursor: pointer; /* Change the cursor to pointer */
}

/* Optional: Styling for the label to match */
.form-group label {
    color: #555; /* Adjust the label color as needed */
}

.checkbox-group {
    display: block;
    align-items: center; /* Align items vertically center */
    justify-content: flex-end; /* Align content to the right */
}

.checkbox-group input[type="checkbox"] {
    margin-left: 50px; /* Space between label text and checkbox */
}

.note-text {
    font-size: 10px; /* Adjust the size as needed */
    color: #777; /* Optional: Change color for better visibility */
    margin-top: -12px; /* Optional: Add some space above */
    margin-left: 150px;
}

/* Class for larger or bold text */
.important-text {
    font-size: 10px;
    color: #777;
    margin-top: -4px;
    margin-left: 150px;
}